/*
 * Celia default CSS
 * http://www.celia.fi/
 *
 * Author: Jukka Eerikäinen <jukka.eerikainen@iki.fi>
 */

$show-braille-page-numbers: true !default;
$show-print-page-numbers: false !default;
$include-image-groups: false !default;
$include-captions: false !default;
$include-production-notes: false !default;
$text-level-formatting: true !default;
$letter-spacing: 0 !default;
$include-note-references: true !default;
$process-note-references: true !default;
$include-notes: true !default;
$process-notes: true !default;
$include-volume-tocs: true !default;
$include-document-toc-in-first-volume: false !default;

@namespace xml "http://www.w3.org/XML/1998/namespace";

/*
 * Volumes: Title page, TOCs
 */
@volume {
	@begin {
		@if $include-volume-tocs { content: flow(title-page) flow(volume-toc); }
		@else { content: flow(title-page); }
		page: generated;
	}
}

@if $include-document-toc-in-first-volume { 
	@volume:first {
		@begin {
			content: flow(title-page) flow(document-toc);
			page: generated;
		}
	}
} 

/*
 * Page layout
 */
@if $show-braille-page-numbers {
	@page:left {
		@top-left {
			content: counter(page);
		}
	}

	@page:right {
		@top-right {
			content: counter(page);
		}
	}
}

/*
 * Generated title page
 * page-break-after: always adds an empty page afterwards
 */
#generated-title-page {
	display:block;
	page-break-before:always;
	page-break-after:right;
	page-break-inside:avoid;
	flow: title-page;
}

/*
 * Leaders and formatting for generated TOC
 */
#generated-volume-toc,
#generated-document-toc {
	/* Override ordinary list's top and bottom margin */
	margin-top: 0;
	margin-bottom: 0;
	list {
		margin-top: 0;
		margin-bottom: 0; }
	li {
		/* Override ordinary li's negative indentation */
		margin-left: 0;
		text-indent: 0;
		a {
			display: block;
			margin-left: 2;
			text-indent: -2;
			&::after {
				content: ' ' leader('⠐') ' ' target-counter(attr(href), page);
			}
		}
	}
}

/*
 * Generated pages
 * No page numbering on title pages and TOC
 */
@page generated:left {
	@top-left {
		content: none;
	}
}

@page generated:right {
	@top-right {
		content: none;
	}
}

/*
 * <p>s within frontmatter have top margins instead of indentation
 */
frontmatter p {
	margin-top: 1;
	text-indent: 0;
}

/*
 * Sections do not start on a new page.
 */
level,
level1, level2, level3,
level4, level5, level6,
frontmatter, bodymatter, rearmatter {
	display: block;
}

/*
 * Headings
 *
 * In headings that span multiple lines, every line except for the first
 * one is indented by 2 cells.
 */
hd, h1, h2, h3, h4, h5, h6 {
	display: block;
	margin-top: 1;
	margin-bottom: 1;
	margin-left: 2;
	text-indent: -2;
	page-break-after: avoid;
}

/*
 * Print page numbers
 * Default: no print page numbers
 */
@if $show-print-page-numbers {
	pagenum::before {
		content: 'Sivu ';
	}
	pagenum {
		display: block;
		margin-top: 1;
		margin-bottom: 1;
		margin-left: 2;
	}
}
@else {
	pagenum {
		display: none;
	}
}

/*
 * Title and author
 */
doctitle, docauthor {
	display: block;
	margin-bottom: 1;
}

/*
 * Paragraphs
 * Paragraphs are separated by indent of 2.
 */
p {
	display: block;
	text-indent: 2;
}

/*
 * Lists
 */
ul, list {
	display: block;
	margin-top: 1;
	margin-bottom: 1;
}

ol {
	display: block;
	margin-top: 1;
	margin-bottom: 1;
	list-style-type: decimal;
}

/* Long list items have negative indent */
li {
	display: list-item;
	text-indent: -2;
	margin-left: 2;
}

/*
 * Blockquotes
 * Otherwise similar to paragraph, but with top and bottom margins to clearly separate it from body text.
 */
blockquote {
	display: block;
	margin-top: 1;
	margin-bottom: 1;
	text-indent: 2;
}

/*
 * Producer notes
 */
@if $include-production-notes {
	prodnote {
		display: block;
	}

	prodnote::before {
		content: 'Tuottajan huomautus: ';
	}
}

/*
 * Tables
 *
 * By default, show tables as they are
 */
table {
	display: block;
	margin-top: 1;
	margin-bottom: 1;
}

th {
	display: block;
}

/* Long rows have indent on the continuation line */
tr {
	display: block;
	text-indent: -2;
	margin-left: 2;
}

/* <td>s are separated by a slash */
td::after {
	content: ' /';
}

td:last-child::after {
	content: '';
}

/* dash-separated is generated in pre-processing for tables
 * that contain slashes in <tds */
.dash-separated {
	td::after {
		content: ' --';
	}
	td:last-child::after {
		content: '';
	}
}

/*
 * Image groups
 */
@if $include-image-groups {
	imggroup {

	}
}
@else {
	imggroup {
		display: none;
	}
}

/*
 * Captions
 */
@if $include-captions {
	caption {
		display: block;
	}
	caption::before {
		content: "Kuvateksti: ";
	}
}
@else {
	caption {
		display: none;
	}
}

/*
 * Sidebar
 *
 * Marked with left border
 */
sidebar {
	display: block;
	border-left: ⠿;
	padding-left: 1;
}

/*
 * Noterefs
 *
 * Noterefs have square brackets around them.
 */
@if not($include-note-references) {
	noteref {
		display: none;
	}
}
@if $process-note-references {
	noteref::before {
		content: "[";
	}
	noteref::after {
		content: "]";
	}
}

/*
 * Notes
 *
 * Notes are moved to the end of the book by the subcontractor.
 */
@if not($include-notes) {
	note {
		display: none;
	}
}
@if $process-notes {
	note::before {
		content: attr(id) ': ';
	}
}

/*
 * Poems
 */
poem {
	margin-top: 1;
	margin-bottom: 1;
}

/*
 * <line>s in <linegroup>s and <poem>s
 * Negative indent for long lines
 */
line {
	text-indent: -2;
	margin-left: 2;
}

/*
 * Code
 *
 * No hyphenation
 * To preserve whitespace, add attribute xml:space="preserve" to the XML element.
 */
code {
	display: inline;
	hyphens: none;
}

/*
 * Emphases
 */
@if $text-level-formatting {
	em {
		text-transform: louis-ital;
	}
	strong {
		text-transform: louis-bold;
	}
}

/*
 * notransform class
 * Don't transform, avoid page breaks, preserve line breaks
 * Used for "Braille illustrations" (similarly
 * to ASCII graphics".
 */
.notransform {
	text-indent: 0;
	margin-left: 0;
	text-transform: none;
	page-break-inside: avoid;
	white-space: pre-wrap;
}

/*
 * Preceding empty line
 */
.precedingemptyline::before {
	/* Don't convert newlines to spaces */
	white-space: pre-line;
	content: '\A';
}

/*
 * pagebreakbefore
 */
.pagebreakbefore {
	page-break-before: always;
}

/*
 * pagebreakafter
 */
.pagebreakafter {
	page-break-after: always;
}

/*
 * Indented elements
 */
.indented {
	text-indent: 2;
}

/*
 * TODO test, fix later
 */
@if $letter-spacing == 1 {
	* {
		letter-spacing: 1;
		word-spacing: 3;
	}
	p {
		text-indent: 0;
		margin-top: 1;
		margin-bottom: 1;
	}
}
